@import "tailwindcss";
body::before {
  content: '';
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/images/bg0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  will-change: transform;
  background-color: black;
}

body {
  background-color: black;
  background-attachment: fixed;
  overflow-y: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}


button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: content-box;
}

html, body {
  height: 100dvh;
  overflow-x: hidden;
  overscroll-behavior: none;
}



.selectable-text {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  user-select: text !important;
}

/* Swal custom styles */
.swal2-popup {
  background-color: black !important;
  color: white !important;
  border-radius: 1.5rem !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5) !important;
}

.swal2-confirm {
  background-color: rgb(222, 173, 14) !important;
  color: black !important;
  border-radius: 1.5rem !important;
  border: none !important;
}

.swal2-cancel {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  border-radius: 1.5rem !important;
  border: none !important;
}

.swal2-confirm:hover, .swal2-cancel:hover {
  opacity: 0.8 !important;
}